#header {
    background-color: wheat;
    font-size: 55px;
    text-align: center;
}

#header button {
    float: right;
    font-size: 32px;
}

canvas {
    border: 3px solid black;
    animation-name: run;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes run {
    from {
        box-shadow: 1px 1px 30px grey;
    }
    to {
        box-shadow: 1px 1px 30px black;
    }
}